{% extends 'admin_templates/_base_admin.html' %}

{% block title %}Add Blogs{% endblock %}
{% block content %}




<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-sm-12">
          <div class="home-tab">

            <div class="tab-content tab-content-basic">
              <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 


                            <div class="table-responsive  mt-1">
                              <table class="table select-table">
                                <tbody>
                                  <tr>
                                    <td>
                                    </td>

                                    {% if user.is_authenticated %}
                                    <form method="POST" enctype="multipart/form-data">
                                        <div class="mb-3 container">
                                        {% csrf_token %}
                                        {{form.media}}
                                        {{form.as_p}}
                                        <br>
                                        <button type="Submit" href="{% url 'blogs_app:delete-blog' post.pk %}" class="btn btn-primary">Update Blog</button>
                                        </div>
                                    
                                    </form>
                                    {% else %}
                                        <h1>you are not log in (--_--)!</h1>
                                    {% endif %}
                                </tbody>
                              </table>
                            </div>
                          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
      </div>
    </footer>
    <!-- partial -->
  </div>
{% endblock %}