{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 
    - primary meta tags
  -->
    <title>BLOGSPOT | {% block title %}{% endblock %}</title>
    <meta name="title" content="Wren - Perosonal Blog Website">
    <meta name="description" content="This is a blog html template made by codewithsadee">

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico" type="image/svg+xml">

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <!-- 
    - preload images
  -->
    <link rel="preload" as="image" href="{% static 'images/hero-banner.png' %}">
    <link rel="preload" as="image" href="{% static 'images/pattern-2.svg' %}">
    <link rel="preload" as="image" href="{% static 'images/pattern-3.svg' %}">

</head>

<body id="top">

    <!-- 
    - #HEADER
  -->

    <header class="header" data-header>
        <div class="container">

            <a href="#" class="logo">
                <img src="{% static 'images/icons/logo.png' %}" width="119" height="37" alt="Wren logo">
            </a>

            <nav class="navbar" data-navbar>

                <div class="navbar-top">
                    <a href="#" class="logo">
                        <img src="{% static 'images/icons/logo.png' %}" width="119" height="37" alt="Wren logo">
                    </a>

                    <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
                        <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
                    </button>
                </div>

                <ul class="navbar-list">

                    <li>
                        <a href="{% url 'blogs_app:home' %}" class="navbar-link hover-1" data-nav-toggler>Home</a>
                    </li>

                    <li>
                        <a href="#topics" class="navbar-link hover-1" data-nav-toggler>Topics</a>
                    </li>

                    <li>
                        <a href="#featured" class="navbar-link hover-1" data-nav-toggler>Featured Post</a>
                    </li>

                    <li>
                        <a href="#recent" class="navbar-link hover-1" data-nav-toggler>Recent Post</a>
                    </li>

                    <li>
                        <a href="#" class="navbar-link hover-1" data-nav-toggler>Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <li>
                                <a class="navbar-link hover-1" href="{% url 'blogs_app:admin-view' %}" >Dashboard</a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="navbar-link hover-1" href="{% url 'users:logout' %}" >Logout</a>
                        </li>
                    

            {% else %}
            <li>
                <a href="{% url 'users:signup' %}" class="navbar-link hover-1">Login / Register</a>
            </li>
            {% endif %}
                    

                </ul>
                {% if user.is_authenticated %}
                <div class="navbar-bottom">

                    <div class="profile-card">
                        <img src="{% static 'images/author-1.png' %}" width="48" height="48" alt="Steven"
                            class="profile-banner">

                        <div>
                            <p class="card-title">Hello {{ user.first_name }} !</p>

                            <p class="card-subtitle">
                                You have 3 new messages
                            </p>
                        </div>
                    </div>

                    <ul class="link-list">

                        <li>
                            <a href="#" class="navbar-bottom-link hover-1">Profile</a>
                        </li>

                        <li>
                            <a href="#" class="navbar-bottom-link hover-1">Articles Saved</a>
                        </li>

                        <li>
                            <a href="#" class="navbar-bottom-link hover-1">Add New Post</a>
                        </li>

                        <li>
                            <a href="#" class="navbar-bottom-link hover-1">My Likes</a>
                        </li>

                        <li>
                            <a href="#" class="navbar-bottom-link hover-1">Account Setting</a>
                        </li>

                        <li>
                            <a href="#" class="navbar-bottom-link hover-1">Sign Out</a>
                        </li>

                    </ul>

                </div>
                {% endif %}

                <p class="copyright-text">
                    Copyright 2023 © BLOGSPOT - Prograammers Blogs.
                </p>

            </nav>

            <a href="#" class="btn btn-primary">Subscribe</a>
            

            <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
                <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
            </button>

        </div>
    </header>

    

    <!-- main -->

    {% block content %}{% endblock %}

    <!-- main-ends -->


    <!-- 
    - #FOOTER
  -->

    <footer>
        <div class="container">

            <div class="card footer">

                <div class="section footer-top">

                    <div class="footer-brand">

                        <a href="#" class="logo">
                            <img src="{% static 'images/icons/logo.png' %}" width="130" height="47" loading="lazy"
                                alt="Wren logo">
                        </a>

                        <p class="footer-text">
                            When an unknown prnoto sans took a galley and scrambled it to make specimen book not only
                            five When an
                            unknown prnoto sans took a galley and scrambled it to five centurie.
                        </p>

                        <p class="footer-list-title">Address</p>

                        <address class="footer-text address">
                            123 Main Street <br>
                            New York, NY 10001
                        </address>

                    </div>

                    <div class="footer-list">

                        <p class="footer-list-title">Categories</p>

                        <ul>

                            <li>
                                <a href="#" class="footer-link hover-2">Action</a>
                            </li>

                            <li>
                                <a href="#" class="footer-link hover-2">Business</a>
                            </li>

                            <li>
                                <a href="#" class="footer-link hover-2">Adventure</a>
                            </li>

                            <li>
                                <a href="#" class="footer-link hover-2">Canada</a>
                            </li>

                            <li>
                                <a href="#" class="footer-link hover-2">America</a>
                            </li>

                            <li>
                                <a href="#" class="footer-link hover-2">Curiosity</a>
                            </li>

                            <li>
                                <a href="#" class="footer-link hover-2">Animal</a>
                            </li>

                            <li>
                                <a href="#" class="footer-link hover-2">Dental</a>
                            </li>

                            <li>
                                <a href="#" class="footer-link hover-2">Biology</a>
                            </li>

                            <li>
                                <a href="#" class="footer-link hover-2">Design</a>
                            </li>

                            <li>
                                <a href="#" class="footer-link hover-2">Breakfast</a>
                            </li>

                            <li>
                                <a href="#" class="footer-link hover-2">Dessert</a>
                            </li>

                        </ul>

                    </div>

                    <div class="footer-list">

                        <p class="footer-list-title">Newsletter</p>

                        <p class="footer-text">
                            Sign up to be first to receive the latest stories inspiring us, case studies, and industry
                            news.
                        </p>

                        <div class="input-wrapper">
                            <input type="text" name="name" placeholder="Your name" required class="input-field"
                                autocomplete="off">

                            <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                        </div>

                        <div class="input-wrapper">
                            <input type="email" name="email_address" placeholder="Emaill address" required
                                class="input-field" autocomplete="off">

                            <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
                        </div>

                        <a href="#" class="btn btn-primary">
                            <span class="span">Subscribe</span>

                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>

                    </div>

                </div>

                <div class="footer-bottom">

                   
                    <ul class="social-list">

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>

                                <span class="span">Twitter</span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-linkedin"></ion-icon>

                                <span class="span">LinkedIn</span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-instagram"></ion-icon>

                                <span class="span">Instagram</span>
                            </a>
                        </li>

                    </ul>

                </div>

            </div>

        </div>
    </footer>





    <!-- 
    - #BACK TO TOP
  -->

    <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
        <ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
    </a>





    <!-- 
    - custom js link
  -->
    <script src="{% static 'js/script.js' %}"></script>

    <!-- 
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>