{% extends '_base.html' %}
{% load static %}



{% block title %}{{ post.title_tag }}{% endblock %}


{% block content %}

<section class="hero" id="home" aria-label="home">
  <div class="container">


  </div>
</section>


  <main>
    <article>

      <!-- 
        - #HERO
      -->







      <!-- 
        - #TOPICS
      -->

      <section class="topics" id="topics" aria-labelledby="topic-label">
        <div class="container">

          <div class="card topic-card">

            <div class="card-content">

              <h2 class="headline headline-2 section-title card-title" id="topic-label">
                Hot topics
              </h2>

              <p class="card-text">
                Don't miss out on the latest news about Travel tips, Hotels review, Food guide...
              </p>

              <div class="btn-group">
                <button class="btn-icon" aria-label="previous" data-slider-prev>
                  <ion-icon name="arrow-back" aria-hidden="true"></ion-icon>
                </button>

                <button class="btn-icon" aria-label="next" data-slider-next>
                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </button>
              </div>

            </div>

            <div class="slider" data-slider>
              <ul class="slider-list" data-slider-container>

                <li class="slider-item">
                  <a href="#" class="slider-card">

                    <figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
                      <img src="{% static 'images/topic-1.png' %}" width="507" height="618" loading="lazy" alt="Sport"
                        class="img-cover">
                    </figure>

                    <div class="slider-content">
                      <span class="slider-title">Sport</span>

                      <p class="slider-subtitle">38 Articles</p>
                    </div>

                  </a>
                </li>

                <li class="slider-item">
                  <a href="#" class="slider-card">

                    <figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
                      <img src="{% static 'images/topic-2.png' %}" width="507" height="618" loading="lazy" alt="Travel"
                        class="img-cover">
                    </figure>

                    <div class="slider-content">
                      <span class="slider-title">Travel</span>

                      <p class="slider-subtitle">63 Articles</p>
                    </div>

                  </a>
                </li>

                <li class="slider-item">
                  <a href="#" class="slider-card">

                    <figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
                      <img src="{% static 'images/topic-3.png' %}" width="507" height="618" loading="lazy" alt="Design"
                        class="img-cover">
                    </figure>

                    <div class="slider-content">
                      <span class="slider-title">Design</span>

                      <p class="slider-subtitle">78 Articles</p>
                    </div>

                  </a>
                </li>

                <li class="slider-item">
                  <a href="#" class="slider-card">

                    <figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
                      <img src="{% static 'images/topic-4.png' %}" width="507" height="618" loading="lazy" alt="Movie"
                        class="img-cover">
                    </figure>

                    <div class="slider-content">
                      <span class="slider-title">Movie</span>

                      <p class="slider-subtitle">125 Articles</p>
                    </div>

                  </a>
                </li>

                <li class="slider-item">
                  <a href="#" class="slider-card">

                    <figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
                      <img src="{% static 'images/topic-5.png' %}" width="507" height="618" loading="lazy" alt="Lifestyle"
                        class="img-cover">
                    </figure>

                    <div class="slider-content">
                      <span class="slider-title">Lifestyle</span>

                      <p class="slider-subtitle">78 Articles</p>
                    </div>

                  </a>
                </li>

              </ul>
            </div>

          </div>

        </div>
      </section>





      <!-- 
        - #FEATURED POST
      -->
      <!-- =====================BLOG--CONTENT=============== -->
      <section class="section feature" aria-label="feature" id="featured">
        <div class="container">
          <div class="blog-banner">
            <img src="assets/images/djngo-ban.avif" alt=""  class="image-blog">
          </div>
          <br>
          <h2 class="headline headline-2 section-title">
            <span class="span">{{ post.title }}</span> 
          </h2>
          <small>by: {{ post.author.first_name}}</small>
          <p class="section-text">
            Python | Django | Web
          </p>
          <div class="blog-content">
            <div class="blog-intro">
    
    <hr>
    {{ post.body }}
    <hr>
              <p>Django's automatically generated admin site is one of the biggest strengths of the framework. The
                centralized admin interface lets you easily view and manipulate your models' data. This can save you a
                lot of time while developing and managing content.
              </p>
              <br>
              <p>
                Even though the admin site is highly customizable, many developers aren't aware of its full
                capabilities. This results in developers creating views and functions for things that could be easily
                implemented with a bit of admin site tweaking.
              </p>
              <br>
              <p>
                In this article, we'll look at how to customize Django's admin site through practical examples. We'll
                cover the built-in customization options as well as customization via third-party packages such as
                DjangoQL, django-import-export, and django-admin-interface.</p>
            </div>
            <br>
            <hr>
            <div class="blog-objective">
              <h2>Objectives</h2>
              <p>By the end of this article, you'll be able to:</p>
              <br>
              <ol>
                <li>Perform basic Django admin site configuration</li>
                <li>Explain how Django model attributes affect the admin site</li>
                <li>Use list_display to control which model fields are displayed</li>
                <li>Add custom fields to <font color="#EB1254">list_display</font> and format existing ones</li>
                <li>Add links to related model objects in <font color="#EB1254">list_display</font>
                </li>
                <li>Enable search and filters via <font color="#EB1254">search_fields</font> and <font color="#EB1254">
                    list_display</font>
                </li>
                <li>Handle model inlines for both N:1 and M:M relationships</li>
                <li>Use Django admin actions and create custom ones</li>
                <li>Override Django admin forms and templates</li>
                <li>Utilize DjangoQL for advanced searching functionality</li>
                <li>Import data in and export data to different formats using django-import-export</li>
                <li>Modify the appearance of your admin site via <font color="#EB1254">django-admin-interface</font>
                </li>
              </ol>
              <br>
              <hr>
              <h2>Project Setup</h2>
              <p>To demonstrate the different admin site customization options, I've prepared a simple web app. The web
                app serves as an event ticket sales system. It allows you to manage venues, concerts, concert
                categories, and tickets.</p>
              <br>
              <p>It has the following entity-relationship model:</p>
              <br>
              <center>
                <img src="assets/images/relational.png' %}" alt="" class="image-blog">
              </center>
              <br>
              <blockquote class="custom-blockquote">
                I highly recommend you first follow along with this web app. After reading, you can then apply the
                gained knowledge to your Django projects.
              </blockquote>
              <br>
              <div class="codehilite">
                <pre><code class="language-css">$ python3.11 -m venv env && source env/bin/activate</code></pre>
              </div>
              <br>
              <p>Create a virtual environment and activate it:</p>
              <br>
              <div class="codehilite">
                <pre><code class="language">$ python3.11 -m venv env && source env/bin/activate</code></pre>
                <br>
                <pre><code class="language">$ python3.11 -m venv env && source env/bin/activate</code></pre>
              </div>

              <br>
              <p>Install the requirements and migrate the database:</p>
              <br>
              <div class="codehilite">
                <pre><code class="language">(venv)$ pip install -r requirements.txt</code></pre>
                <br>
                <pre><code class="language">(venv)$ python manage.py migrate</code></pre>
              </div>
              <br>
              <p>Open your favorite web browser and navigate to http://localhost:8000/admin. Try using your superuser
                credentials to access the Django admin site. After that, ensure the database is populated with a few
                venues, concert categories, concerts, and tickets.

                Before continuing, I suggest you check the models in tickets/models.py. Pay attention to what fields a
                model has and how the models are connected.</p>

              <!-- =====================BLOG--CONTENT=============== -->
              <br>
              <h2>Conclusion</h2>
              <p>In this article, we've covered many Django admin customization concepts. You should now be able to apply these concepts in practice and tailor the Django admin site to your project's needs.</p>
              <p>I suggest you to also check out our other Django admin related articles:</p>
              <br>
              <ol>
                <li><a href="#">Adding Charts to Django with Chart.js</a></li>
                <li><a href="#">Supporting Multiple Languages in Django</a></li>
                <li><a href="#">Creating a Custom User Model in Django</a></li>
                </li>
              </ol>
              <br>
              <p class="in-line">Grab the final source code from GitHub repo.</p>
              <a href="#">django-admin-customization</a>
              <br>
              <div class="contributed-by">
                <!-- <div class="container-contrib">
                  <div class="content-contrib">
                    <img src="assets/images/alpha_purple.png' %}" alt="Image" class="image-contrib">
                    <p class="text-contrib"><ol>
                      <li><a href="#">Adding Charts to Django with Chart.js</a></li>
                      <li><a href="#">Supporting Multiple Languages in Django</a></li>
                      <li><a href="#">Creating a Custom User Model in Django</a></li>
                      </li>
                    </ol></p>
                    <div class="icons-contrib">
                      <span class="icon"><i class="fa fa-github" style="font-size:50px"></i></span>
                      <span class="icon"><i class="fa fa-github" style="font-size:50px"></i></span>
                    </div>
                  </div>
                </div> -->
                
              </div>
            </div>
            <a href="#" class="btn btn-secondary">
              <span class="span">Show More Posts</span>

              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>

          </div>

          <img src="{% static 'images/shadow-3.svg' %}" width="500" height="1500" loading="lazy" alt="" class="feature-bg">

      </section>





      <!-- 
        - #POPULAR TAGS
      -->

      <section class="tags" aria-labelledby="tag-label">
        <div class="container">

          <h2 class="headline headline-2 section-title" id="tag-label">
            <span class="span">Popular Tags</span>
          </h2>

          <p class="section-text">
            Most searched keywords
          </p>

          <ul class="grid-list">

            <li>
              <button class="card tag-btn">
                <img src="{% static 'images/tag1.png' %}" width="32" height="32" loading="lazy" alt="Travel">

                <p class="btn-text">Travel</p>
              </button>
            </li>

            <li>
              <button class="card tag-btn">
                <img src="{% static 'images/tag2.png' %}" width="32" height="32" loading="lazy" alt="Culture">

                <p class="btn-text">Culture</p>
              </button>
            </li>

            <li>
              <button class="card tag-btn">
                <img src="{% static 'images/tag3.png' %}" width="32" height="32" loading="lazy" alt="Lifestyle">

                <p class="btn-text">Lifestyle</p>
              </button>
            </li>

            <li>
              <button class="card tag-btn">
                <img src="{% static 'images/tag4.png' %}" width="32" height="32" loading="lazy" alt="Fashion">

                <p class="btn-text">Fashion</p>
              </button>
            </li>

            <li>
              <button class="card tag-btn">
                <img src="{% static 'images/tag5.png' %}" width="32" height="32" loading="lazy" alt="Food">

                <p class="btn-text">Food</p>
              </button>
            </li>

            <li>
              <button class="card tag-btn">
                <img src="{% static 'images/tag6.png' %}" width="32" height="32" loading="lazy" alt="Space">

                <p class="btn-text">Space</p>
              </button>
            </li>

            <li>
              <button class="card tag-btn">
                <img src="{% static 'images/tag7.png' %}" width="32" height="32" loading="lazy" alt="Animal">

                <p class="btn-text">Animal</p>
              </button>
            </li>

            <li>
              <button class="card tag-btn">
                <img src="{% static 'images/tag8.png' %}" width="32" height="32" loading="lazy" alt="Minimal">

                <p class="btn-text">Minimal</p>
              </button>
            </li>

            <li>
              <button class="card tag-btn">
                <img src="{% static 'images/tag9.png' %}" width="32" height="32" loading="lazy" alt="Interior">

                <p class="btn-text">Interior</p>
              </button>
            </li>

            <li>
              <button class="card tag-btn">
                <img src="{% static 'images/tag10.png' %}" width="32" height="32" loading="lazy" alt="Plant">

                <p class="btn-text">Plant</p>
              </button>
            </li>

            <li>
              <button class="card tag-btn">
                <img src="{% static 'images/tag11.png' %}" width="32" height="32" loading="lazy" alt="Nature">

                <p class="btn-text">Nature</p>
              </button>
            </li>

            <li>
              <button class="card tag-btn">
                <img src="{% static 'images/tag12.png' %}" width="32" height="32" loading="lazy" alt="Business">

                <p class="btn-text">Business</p>
              </button>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #RECENT POST
      -->

      <section class="section recent-post" id="recent" aria-labelledby="recent-label">
        <div class="container">

          <div class="post-main">

            <h2 class="headline headline-2 section-title">
              <span class="span">Recent posts</span>
            </h2>

            <p class="section-text">
              Don't miss the latest trends
            </p>

            <ul class="grid-list">

              <li>
                <div class="recent-post-card">

                  <figure class="card-banner img-holder" style="--width: 271; --height: 258;">
                    <img src="{% static 'images/recent-post-1.jpg' %}" width="271" height="258" loading="lazy"
                      alt="Helpful Tips for Working from Home as a Freelancer" class="img-cover">
                  </figure>

                  <div class="card-content">

                    <a href="#" class="card-badge">Working Tips</a>

                    <h3 class="headline headline-3 card-title">
                      <a href="#" class="link hover-2">Helpful Tips for Working from Home as a Freelancer</a>
                    </h3>

                    <p class="card-text">
                      Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard
                      roadrunner flapped lynx far that and jeepers giggled far and far
                    </p>

                    <div class="card-wrapper">
                      <div class="card-tag">
                        <a href="#" class="span hover-2"># Travel</a>

                        <a href="#" class="span hover-2"># Lifestyle</a>
                      </div>

                      <div class="wrapper">
                        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                        <span class="span">3 mins read</span>
                      </div>
                    </div>

                  </div>

                </div>
              </li>

              <li>
                <div class="recent-post-card">

                  <figure class="card-banner img-holder" style="--width: 271; --height: 258;">
                    <img src="{% static 'images/recent-post-2.jpg' %}" width="271" height="258" loading="lazy"
                      alt="Helpful Tips for Working from Home as a Freelancer" class="img-cover">
                  </figure>

                  <div class="card-content">

                    <a href="#" class="card-badge">Working Tips</a>

                    <h3 class="headline headline-3 card-title">
                      <a href="#" class="link hover-2">Helpful Tips for Working from Home as a Freelancer</a>
                    </h3>

                    <p class="card-text">
                      Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard
                      roadrunner flapped lynx far that and jeepers giggled far and far
                    </p>

                    <div class="card-wrapper">
                      <div class="card-tag">
                        <a href="#" class="span hover-2"># Travel</a>

                        <a href="#" class="span hover-2"># Lifestyle</a>
                      </div>

                      <div class="wrapper">
                        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                        <span class="span">3 mins read</span>
                      </div>
                    </div>

                  </div>

                </div>
              </li>

              <li>
                <div class="recent-post-card">

                  <figure class="card-banner img-holder" style="--width: 271; --height: 258;">
                    <img src="{% static 'images/recent-post-3.jpg' %}" width="271" height="258" loading="lazy"
                      alt="Helpful Tips for Working from Home as a Freelancer" class="img-cover">
                  </figure>

                  <div class="card-content">

                    <a href="#" class="card-badge">Working Tips</a>

                    <h3 class="headline headline-3 card-title">
                      <a href="#" class="link hover-2">Helpful Tips for Working from Home as a Freelancer</a>
                    </h3>

                    <p class="card-text">
                      Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard
                      roadrunner flapped lynx far that and jeepers giggled far and far
                    </p>

                    <div class="card-wrapper">
                      <div class="card-tag">
                        <a href="#" class="span hover-2"># Travel</a>

                        <a href="#" class="span hover-2"># Lifestyle</a>
                      </div>

                      <div class="wrapper">
                        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                        <span class="span">3 mins read</span>
                      </div>
                    </div>

                  </div>

                </div>
              </li>

              <li>
                <div class="recent-post-card">

                  <figure class="card-banner img-holder" style="--width: 271; --height: 258;">
                    <img src="{% static 'images/recent-post-4.jpg' %}" width="271" height="258" loading="lazy"
                      alt="Helpful Tips for Working from Home as a Freelancer" class="img-cover">
                  </figure>

                  <div class="card-content">

                    <a href="#" class="card-badge">Working Tips</a>

                    <h3 class="headline headline-3 card-title">
                      <a href="#" class="link hover-2">Helpful Tips for Working from Home as a Freelancer</a>
                    </h3>

                    <p class="card-text">
                      Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard
                      roadrunner flapped lynx far that and jeepers giggled far and far
                    </p>

                    <div class="card-wrapper">
                      <div class="card-tag">
                        <a href="#" class="span hover-2"># Travel</a>

                        <a href="#" class="span hover-2"># Lifestyle</a>
                      </div>

                      <div class="wrapper">
                        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                        <span class="span">3 mins read</span>
                      </div>
                    </div>

                  </div>

                </div>
              </li>

              <li>
                <div class="recent-post-card">

                  <figure class="card-banner img-holder" style="--width: 271; --height: 258;">
                    <img src="{% static 'images/recent-post-5.jpg' %}" width="271" height="258" loading="lazy"
                      alt="Helpful Tips for Working from Home as a Freelancer" class="img-cover">
                  </figure>

                  <div class="card-content">

                    <a href="#" class="card-badge">Working Tips</a>

                    <h3 class="headline headline-3 card-title">
                      <a href="#" class="link hover-2">Helpful Tips for Working from Home as a Freelancer</a>
                    </h3>

                    <p class="card-text">
                      Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard
                      roadrunner flapped lynx far that and jeepers giggled far and far
                    </p>

                    <div class="card-wrapper">
                      <div class="card-tag">
                        <a href="#" class="span hover-2"># Travel</a>

                        <a href="#" class="span hover-2"># Lifestyle</a>
                      </div>

                      <div class="wrapper">
                        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                        <span class="span">3 mins read</span>
                      </div>
                    </div>

                  </div>

                </div>
              </li>

            </ul>

            <nav aria-label="pagination" class="pagination">

              <a href="#" class="pagination-btn" aria-label="previous page">
                <ion-icon name="arrow-back" aria-hidden="true"></ion-icon>
              </a>

              <a href="#" class="pagination-btn">1</a>
              <a href="#" class="pagination-btn">2</a>
              <a href="#" class="pagination-btn">3</a>
              <a href="#" class="pagination-btn" aria-label="more page">...</a>

              <a href="#" class="pagination-btn" aria-label="next page">
                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
              </a>

            </nav>

          </div>

          <div class="post-aside grid-list">

            <div class="card aside-card">

              <h3 class="headline headline-2 aside-title">
                <span class="span">Popular Posts</span>
              </h3>

              <ul class="popular-list">

                <li>
                  <div class="popular-card">

                    <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
                      <img src="{% static 'images/popular-post-1.jpg' %}" width="64" height="64" loading="lazy"
                        alt="Creating is a privilege but it’s also a gift" class="img-cover">
                    </figure>

                    <div class="card-content">

                      <h4 class="headline headline-4 card-title">
                        <a href="#" class="link hover-2">Creating is a privilege but it’s also a gift</a>
                      </h4>

                      <div class="warpper">
                        <p class="card-subtitle">15 mins read</p>

                        <time class="publish-date" datetime="2022-04-15">15 April 2022</time>
                      </div>

                    </div>

                  </div>
                </li>

                <li>
                  <div class="popular-card">

                    <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
                      <img src="{% static 'images/popular-post-2.jpg' %}" width="64" height="64" loading="lazy"
                        alt="Being unique is better than being perfect" class="img-cover">
                    </figure>

                    <div class="card-content">

                      <h4 class="headline headline-4 card-title">
                        <a href="#" class="link hover-2">Being unique is better than being perfect</a>
                      </h4>

                      <div class="warpper">
                        <p class="card-subtitle">15 mins read</p>

                        <time class="publish-date" datetime="2022-04-15">15 April 2022</time>
                      </div>

                    </div>

                  </div>
                </li>

                <li>
                  <div class="popular-card">

                    <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
                      <img src="{% static 'images/popular-post-3.jpg' %}" width="64" height="64" loading="lazy"
                        alt="Every day, in every city and town across the country" class="img-cover">
                    </figure>

                    <div class="card-content">

                      <h4 class="headline headline-4 card-title">
                        <a href="#" class="link hover-2">Every day, in every city and town across the country</a>
                      </h4>

                      <div class="warpper">
                        <p class="card-subtitle">15 mins read</p>

                        <time class="publish-date" datetime="2022-04-15">15 April 2022</time>
                      </div>

                    </div>

                  </div>
                </li>

                <li>
                  <div class="popular-card">

                    <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
                      <img src="{% static 'images/popular-post-4.jpg' %}" width="64" height="64" loading="lazy"
                        alt="Your voice, your mind, your story, your vision" class="img-cover">
                    </figure>

                    <div class="card-content">

                      <h4 class="headline headline-4 card-title">
                        <a href="#" class="link hover-2">Your voice, your mind, your story, your vision</a>
                      </h4>

                      <div class="warpper">
                        <p class="card-subtitle">15 mins read</p>

                        <time class="publish-date" datetime="2022-04-15">15 April 2022</time>
                      </div>

                    </div>

                  </div>
                </li>

                <li>
                  <div class="popular-card">

                    <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
                      <img src="{% static 'images/popular-post-2.jpg' %}" width="64" height="64" loading="lazy"
                        alt="Being unique is better than being perfect" class="img-cover">
                    </figure>

                    <div class="card-content">

                      <h4 class="headline headline-4 card-title">
                        <a href="#" class="link hover-2">Being unique is better than being perfect</a>
                      </h4>

                      <div class="warpper">
                        <p class="card-subtitle">15 mins read</p>

                        <time class="publish-date" datetime="2022-04-15">15 April 2022</time>
                      </div>

                    </div>

                  </div>
                </li>

              </ul>

            </div>

            <div class="card aside-card">

              <h3 class="headline headline-2 aside-title">
                <span class="span">Last Comment</span>
              </h3>

              <ul class="comment-list">

                <li>
                  <div class="comment-card">

                    <blockquote class="card-text">
                      “ Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard
                      roadrunner “
                    </blockquote>

                    <div class="profile-card">
                      <figure class="profile-banner img-holder">
                        <img src="{% static 'images/author-6.png' %}" width="32" height="32" loading="lazy" alt="Jane Cooper">
                      </figure>

                      <div>
                        <p class="card-title">Jane Cooper</p>

                        <time class="card-date" datetime="2022-04-15">15 April 2022</time>
                      </div>
                    </div>

                  </div>
                </li>

                <li>
                  <div class="comment-card">

                    <blockquote class="card-text">
                      “ Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard
                      roadrunner “
                    </blockquote>

                    <div class="profile-card">
                      <figure class="profile-banner img-holder">
                        <img src="{% static 'images/author-7.png' %}" width="32" height="32" loading="lazy" alt="Katen Doe">
                      </figure>

                      <div>
                        <p class="card-title">Katen Doe</p>

                        <time class="card-date" datetime="2022-04-15">15 April 2022</time>
                      </div>
                    </div>

                  </div>
                </li>

                <li>
                  <div class="comment-card">

                    <blockquote class="card-text">
                      “ Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard
                      roadrunner “
                    </blockquote>

                    <div class="profile-card">
                      <figure class="profile-banner img-holder">
                        <img src="{% static 'images/author-8.png' %}" width="32" height="32" loading="lazy"
                          alt="Barbara Cartland">
                      </figure>

                      <div>
                        <p class="card-title">Barbara Cartland</p>

                        <time class="card-date" datetime="2022-04-15">15 April 2022</time>
                      </div>
                    </div>

                  </div>
                </li>

              </ul>

            </div>

            <div class="card aside-card insta-card">

              <a href="#" class="logo">
                <img src="{% static 'images/logo.png' %}" width="119" height="37" loading="lazy" alt="Wren logo">
              </a>

              <p class="card-text">
                Follow us on instagram
              </p>

              <ul class="insta-list">

                <li>
                  <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                    <img src="{% static 'images/insta-post-1.png' %}" width="276" height="277" loading="lazy" alt="insta post"
                      class="img-cover">
                  </a>
                </li>

                <li>
                  <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                    <img src="{% static 'images/insta-post-2.png' %}" width="276" height="277" loading="lazy" alt="insta post"
                      class="img-cover">
                  </a>
                </li>

                <li>
                  <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                    <img src="{% static 'images/insta-post-3.png' %}" width="276" height="277" loading="lazy" alt="insta post"
                      class="img-cover">
                  </a>
                </li>

                <li>
                  <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                    <img src="{% static 'images/insta-post-4.png' %}" width="276" height="277" loading="lazy" alt="insta post"
                      class="img-cover">
                  </a>
                </li>

                <li>
                  <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                    <img src="{% static 'images/insta-post-5.png' %}" width="276" height="277" loading="lazy" alt="insta post"
                      class="img-cover">
                  </a>
                </li>

                <li>
                  <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                    <img src="{% static 'images/insta-post-6.png' %}" width="276" height="277" loading="lazy" alt="insta post"
                      class="img-cover">
                  </a>
                </li>

                <li>
                  <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                    <img src="{% static 'images/insta-post-7.png' %}" width="276" height="277" loading="lazy" alt="insta post"
                      class="img-cover">
                  </a>
                </li>

                <li>
                  <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                    <img src="{% static 'images/insta-post-8.png' %}" width="276" height="277" loading="lazy" alt="insta post"
                      class="img-cover">
                  </a>
                </li>

                <li>
                  <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                    <img src="{% static 'images/insta-post-9.png' %}" width="276" height="277" loading="lazy" alt="insta post"
                      class="img-cover">
                  </a>
                </li>

              </ul>

            </div>

          </div>

        </div>
      </section>

    </article>
  </main>



{% endblock %}
