{% extends '_base.html' %}
{% load static %}



{% block title %}BLOGSPOT | PROFILE{% endblock %}


{% block content %}

<main>
  <article>

    <!-- 
        - #HERO
      -->

    <section class="hero" id="home" aria-label="home">
        
      <br><br>
      <center>
        
        <div class="container-block">
          <div class="left-div left-text">
            <div class="container-profile">
              <div class="form-group">

                <form action="" class="form-border" method="POST">
                  <center>
                    
                      <div class="profile-container">
                        <img src="{% static 'images/author-1.png' %}" alt="" width="200px" height="auto"
                      style="border-radius:50%; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
                        <div class="profile-text"><a href="#">Change</a></div>
                    </div>
                  </center>
                  <br><br>
                  {% csrf_token %}
                  {{ form.as_p }}
                  <hr>
                  <br>
                  <div class="bio">
                    {{ user.profile.bio}}
                  </div>
                  <br>
                  <br>
                  <center>
                  <button class='btn btn-primary'>
                    SAVE
                  </button>
                </center>
                </form>
              </div>
            </div>
          </div>
          <div class="right-div right-text">
            
            <div class="top-div"><p>Join Blogs-POT and earn.</p>
              <br>
              <hr>
              <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos architecto necessitatibus nihil sed ex quis numquam exercitationem voluptate excepturi. Nulla accusantium animi officia labore rerum qui odio, modi dolor a nihil aut quasi sed, repudiandae, unde rem quae delectus. Quo in saepe reiciendis et odit eligendi error.
              <br>
              <br> <a href="#" style="color:#ff3b76;">Learn more.</a></p></div>
            <div class="bottom-div"><h4>Want to add your blog on Blogs-POT.</h4>
              <br>
              <br>
              <button class='btn btn-primary'>
                Contact Us
              </button></div>
          </div>
        </div>
      </center>
    </section>










  </article>
</main>

{% endblock %}