{% extends '_base.html' %}
{% load static %}



{% block title %}{{ post.title_tag }}{% endblock %}


{% block content %}

<section class="hero" id="home" aria-label="home">
  <div class="container">


  </div>
</section>


<main>
  <article>

    <!-- 
        - #HERO
      -->








    <!-- 
        - #FEATURED POST
      -->
    <!-- =====================BLOG--CONTENT=============== -->
    <section class="section feature" aria-label="feature" id="featured">
      <div class="container">
        <div class="blog-banner">
          <img src="{{ post.banner_img.url }}" width="500" height="1500" loading="lazy" alt=""
          class="blog-img">
        </div>
        <br>
        
        <div class="like-title-container">
          <h2 class="headline headline-2 section-title">
            <div class="blog-objective">
             <h2><span class="span">{{ post.title }}</span></h2>
            </div>
          </h2>
          <div class="like-block">
            <form class='like-unlike' action="{% url 'blogs_app:like-post' post.pk %}" method="POST">

              {% csrf_token %}
              {% if user.is_authenticated %}
              {% if liked %}
              <button class='like-btn' type="submit" name='post_id' , value="{{ post.id}}" ,
                class="btn btn-denger">Unlike</button>
              {% else %}
              <button class='like-btn' type="submit" name='post_id' , value="{{ post.id}}" ,
                class="btn btn-primary">Like</button>
              {% endif %}
              {% endif %}

              <span class="total-likes">{{ total_likes}} Likes</span>

            </form>
          </div>
        </div>
        <br>
        <br>
        <small>by: {{ post.author_name}}</small>
        <p class="section-text">
          {{post.category}}
        </p>
        <div class="blog-content">
          <div class="blog-intro">

            <div class="blog-objective">
              {{ post.body|safe }}
            </div>
            
            <img src="assets/images/relational.png' %}" alt="" class="image-blog">
          </div>
          <a href="#" class="btn btn-secondary">
            <span class="span">Show More Posts</span>

            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </a>

        </div>

        

    </section>











    <!-- 
        - #RELATED POSTs
      -->

  </article>
</main>
<div class="blank"></div>


{% endblock %}